---
layout: 'wrapper'
---
<main class="relative">
    {% include header.html %}
    <section class="container --padding min-h-screen flex items-center">

        <div class="md:grid grid-cols-1 md:grid-cols-7 z-10">
            <div class="md:col-span-3 xl:mr-12">
                <h3>
                    The Gizmo Dojo is a maker space in Broomfield Colorado. It’s a place where like-minded people interested in technology, science and business can start ventures, share tools, learn, and meet new people.
                </h3>
                <p class="mt-10 md:w-1/2">
                    We are structured as a member-operated 501(c)(3) non-profit
                </p>
            </div>
        </div>

        <div class="absolute top-0 right-0 w-2/5 h-screen bg-gradient-to-b from-gray-200 via-gray-100 to-white col-span-4">
            <div class="hidden md:block md:absolute w-[50vw] h-[55vh] top-[22.5%] right-0 image-container" style="background-image: url('/assets/images/landing-image.jpg')">
            </div>
        </div>
    </section>
    <section class="container --padding min-h-screen grid grid-cols-2 items-center gap-4">
        <div>
            <h3 class="md:w-3/4">Light machining and lab supplies</h3>
            <p class="mt-10 md:w-1/2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="mt-14 flex items-center space-x-8">
                <div class="flex items-center space-x-4">
                    <svg class="h-6 w-auto opacity-50 cursor-not-allowed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    <svg class="h-6 w-auto cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </div>
                <p>1 of 8</p>
            </div>
        </div>
        <div class="h-full grid grid-cols-2 items-center space-x-4">
            <div class="lg:h-2/3 xl:h-[30rem] image-container" style="background-image: url('/assets/images/lab-1-0.jpg')"></div>
            <div class="lg:h-2/5 xl:h-80 image-container" style="background-image: url('/assets/images/lab-1-1.jpg')"></div>
        </div>
    </section>
    {% include footer.html %}
</main>