<footer>
    <section class="container --padding">
        <div class="grid grid-cols-1 md:grid-cols-8 justify-between gap-12">
            <div class="md:col-span-6">
                <p class="text-2xl text-gray-800 md:w-3/4">7000 W 117th Ave Unit A, Broomfield, CO 80020</p>
                <div class="mt-8 md:mt-10 flex space-x-4">
                    <svg class="mt-2 h-6 w-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone">
                        <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                    </svg>
                    <div class="flex-1">
                        <a href="tel:0015551234567" class="text-lg">
                            +1 (555) 123 4567
                        </a>
                        <p>Mon-Fri 8am to 6pm EST</p>
                    </div>
                </div>
                <div class="mt-4 md:mt-6 flex space-x-4">
                    <svg class="mt-1 h-6 w-auto text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                    <a class="flex-1 text-lg" href="mailto:support@thegizmodojo.com">
                        support@thegizmodojo.com
                    </a>
                </div>
            </div>
            <div class="md:col-span-2 md:text-right">
                <p class="text-base text-gray-600 font-semibold">Social Media</p>
                <div class="mt-6 md:mt-10 flex flex-col space-y-4">
                    <a href="https://github.com/the-gizmo-dojo" target="_blank">
                        <span class="sr-only">Github - @the-gizmo-dojo</span>
                        Github
                    </a>
                    <a href="https://twitter.com/TheGizmoDojo" target="_blank">
                        <span class="sr-only">Twitter - @TheGizmoDojo</span>
                        Twitter
                    </a>
                    <a href="https://www.linkedin.com/company/" target="_blank">
                        <span class="sr-only">Linkedin - @</span>
                        Linkedin
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-12 mt:mt-16 lg:mt-20 flex flex-col sm:flex-row items-center justify-between">
            <label class="text-sm text-gray-600">© 2021 The Gizmo Dojo. All rights reserved</label>
            <a class="mt-4 sm:mt-0 text-sm text-gray-600" href="/privacy-policy">
                PRIVACY POLICY
            </a>
        </div>
    </section>
</footer>